$fonts:(
    font-family:"Roboto",
    second-family:"Syncopate" ,
    third-family:"Sen"
);
@function getFont($font){
    @return map-get($fonts, $font);
}
$colors:(
    color-header-button:#d80808,
    color-title-hero:#eee,
    color-circle-hero:#900101,
    color-tasks-title:#f4bdbd,
    color-for-first-task: #1e0202,
    color-for-second-task:#f0c9c9,
    color-for-third-task:#fb0909,
    color-span-first-tasks:#fff9f9,
    color-for-title-project:#e4cfcf,
    color-for-elipse-bg-review:#FDAEAE,
    color-for-elipse-bg-review-shadow:#fdaeae89,
    color-for-elipse-bg-review-second:#EA1B1B,
    color-for-title-work:#f3d5d5,
    color-for-description-work:#e8d6d6,
    color-btn-work:#f00,
    color-for-third-container-reviews:#6B0505,
    color-for-shadows-container-third-reviews:#B61818,
    color-for-item-footer-link:#d8d3d3,
    color-for-bg-second-container:#AF0303,
    color-for-menu-second-container-header:#ededed,
    first-color-for-bg-item-second-list-header:#3A0000,
    second-color-for-bg-item-second-list-header:#E70B0B,

);

@function getColor($color){
    @return map-get($colors, $color);
}