.hero{
    background-image: url(../images/headerBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 54px;
    background-position: center -160px;
    @media screen and (min-width:1437px) {
        padding-bottom: 79px;
        padding-top: 85px;
    }
    .hero-img-before::before{
        content:"";
        width: 865px;
        height: 865px;
        background-color: getColor("color-circle-hero");
        z-index: 0;
        position: absolute;
        transform: translateX(30%);
        border-radius: 50%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgb(142, 1, 1));
        box-shadow: -15px 15px 0 rgba(0, 0, 0, 1) , 15px -15px 0 rgba(0, 0, 0, 1);;
        
    }
    .hero-img-before::after{
        content:"";
        width: 1000px;
        height: 1000px;
        background-color: transparent;
        z-index: 0;
        position: absolute;
        border-radius: 50%;
        border:20px solid getColor("color-circle-hero");
        transform: translate(-50%,-50%);
        top: 51.7%;
        left: 49%;
    }
    .hero__title{
        font-weight: 700;
        font-size: 96px;
        line-height: 100%;
        letter-spacing: 0.01em;
        font-family: getFont("second-family");
        color: getColor("color-title-hero");
        text-shadow: 10px 0px 1px (rgba(255, 0, 0, 1));
    }
    .hero__img{
        display: block;
        margin: 0 auto;
        position: relative;
        bottom: 255px;
        z-index: 2;

    }
}