.projects{
    padding-top: 26px;
    padding-bottom: 127px;
    background-image: url(../images/projectBG.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-position: center;

    @media screen and (min-width:1437px) {
        background-image: url(../images/projectBG-d.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .projects__container{
        @media (min-width: 768px) and (max-width: 1437px) {
            width: 100%;
           }
    }

    .projects__title{
        font-family: getFont("second-family");
        font-weight: 700;
        font-size: 33px;
        letter-spacing: -0.1em;
        color: getColor("color-for-title-project");
        text-shadow: 2px 0px 1px (rgba(255, 0, 0, 1));
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;

        @media screen and (min-width:1437px) {
            font-weight: 700;
            font-size: 57px;
            justify-content: start;
            margin-bottom: 85px;
        }
    }
    .projects-list{
        display: flex;
        flex-direction: column;
        margin-left: 28px;

        @media screen and (min-width:1437px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-left: 167px;
        }
    
    .projects-list__item{
        width: 260px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        position: relative;

        @media screen and (min-width:1437px) {
            margin-left: 50px
        }

    }
    .projects-list__item:nth-child(1){
        margin-bottom: 105px;
    }
    .projects-list__title{
        font-family: getFont("font-family");
        font-weight: 900;
        font-size: 14px;
        color: #fff;
        margin-top: 7px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .projects-list__title-web{
        margin-top: 18px;
    }
    .projects-list__description{
        font-family: getFont("font-family");
        font-weight: 400;
        font-size: 13px;
        color: #fff;
        cursor: pointer;
        position: relative;
    }
    .projects-list__description::before{
        content: "";
        position: absolute;
        background-image: url(../images/arrow.png);
        background-repeat: no-repeat;
        width: 9px;
        height: 16px;
        left: 120%;
        cursor: pointer;
    }
    .projects-list__description-second::before{
        left: 10%;
    }
    .projects__img-second{
        margin-bottom: 40px;
    }
    .projects__img{
        background: linear-gradient(180deg, #e30707 0%, #6a1212 73.1%);
        border-radius: 11px;
        z-index: 2;
    }
    .projects-list__item:nth-child(2):before{
        content: "";
        width: calc(100% + 15px);
        height: calc(100% + 20px);
        position: absolute;
        background: linear-gradient(180deg, #e30707 0%, #6a1212 73.1%);
        z-index: 1;
        border-radius: 11px;
        top: -26%;
        left: -3%;
        right: 0;
        bottom: 0;
    }
    .projects-list__item-second{
        @media screen and (max-width:768px) {
            display: none;
        }
    }
    .projects-list__item-second{
        position: relative;
        z-index: 1;
    }
    .projects-list__item-second-1:before{
        content: "";
        width: 445px;
        height: 286px;
        position: absolute;
        background: linear-gradient(180deg, #e30707 0%, #6a1212 73.1%);
        z-index: -1;
        border-radius: 11px;
        top: -10%;
        left: -5%;
    }
    .projects-list__item-second-2::before{
        content: "";
        width: 445px;
        height: 286px;
        position: absolute;
        background: linear-gradient(180deg, #e30707 0%, #6a1212 73.1%);
        z-index: -1;
        border-radius: 11px;
        top: -10%;
        left: -5%;
    }
}
.projects__button{
    border-radius: 27px;
    padding: 21px 52px 21px 52px;
    white-space: nowrap;
    background-color:getColor("color-header-button");
    color: #fff;
    cursor: pointer;
    margin-top: 90px;
    margin-left: 92px;
    border: 0px;

    @media screen and (min-width:1437px) {
        margin-left: 628px;
    }
 }
}