.tasks{
    padding-top: 28px;
    padding-bottom: 100px;
    background-image: url(../images/tasksBG.jpg);
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width:1437px) {
        background-image: url(../images/tasksBG-d.jpg);
        background-size: cover;
    }
    .task__container{
        @media (min-width: 768px) and (max-width: 1437px) {
            width: 100%;
           }
    }

    .tasks__title{
        font-family:getFont("second-family");
        font-weight: 700;
        font-size: 32px;
        color: getColor("color-tasks-title");
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        @media screen and (min-width:1437px) {
            font-weight: 700;
            font-size: 57px;
            display: flex;
            justify-content: start;
            margin-left: 76px;

        }
    }
    .task-list{

        @media (min-width: 768px) and (max-width: 1437px) {

            margin-left: 35vw;
        }
        margin-left: 25px;

        .task-list__item{
            position: relative;
        }
        .task-list__item:nth-of-type(1)::before{
            content:"";
            background-image:url(../images/ellipse-first-tasks.png);
            background-repeat: no-repeat;
            width: 299px;
            height: 126px;
            // z-index: 5;
            margin-top: 40px;
            margin-left: 20px;
            position: absolute;
            z-index: 2;

            @media screen and (min-width:1437px) {
                margin-left: 140px;
            }
        }
        .task-list__item:nth-of-type(1)::after{
            content:"";
            background-image:url(../images/shadow-task.png);
            background-repeat: no-repeat;
            width: 317px;
            height: 142px;
            top: 17%;
            // z-index: 5;
            position: absolute;
            z-index: 1;

            @media screen and (min-width:1437px) {
                margin-left: 140px;
            }
        }
        .task-list__item:nth-of-type(2)::before{
            content:"";
            background-image:url(../images/elipse-second-tasks.png);
            background-repeat: no-repeat;
            width: 305px;
            height: 212px;
            // z-index: 5;
            position: absolute;
            margin-left: -15px;
            margin-top: -50px;
            z-index: 2;

            @media screen and (min-width:1437px) {
                margin-left: 250px;
            }
        }
        .task-list__item:nth-of-type(2)::after{
            content:"";
            background-image:url(../images/shadow-task-2.png);
            background-repeat: no-repeat;
            width: 307px;
            height: 240px;
            top: -30%;
            // z-index: 5;
            position: absolute;
            z-index: 1;

            @media screen and (min-width:1437px) {
                margin-left: 240px;
            }
        }
        .task-list__item:nth-of-type(3)::before{
            content:"";
            background-image:url(../images/elipse-third-tasks.png);
            background-repeat: no-repeat;
            width: 280px;
            height: 193px;
            // z-index: 5;
            position: absolute;
            margin-top: -65px;
            z-index: 2;
            left: 5%;

            @media screen and (min-width:1437px) {
                margin-left: 280px;
            }
        }
        .task-list__item:nth-of-type(3)::after{
            content:"";
            background-image:url(../images/shadow-task-3.png);
            background-repeat: no-repeat;
            width: 308px;
            height: 217px;
            top: -35%;
            // z-index: 5;
            position: absolute;
            z-index: 1;

            @media screen and (min-width:1437px) {
                margin-left: 310px;
            }
        }
        .task-list__description--first{
            font-family: getFont("font-family");
            font-size: 15px;
            font-weight: 700;
            color: #000;
            position: absolute;
            top: 30%;
            left: 110px;
            width: 180px;
            z-index: 2;

            @media screen and (min-width:1437px) {
                margin-left: 120px;
            }
        }
        .task-list__description--second{
            font-family: getFont("font-family");
            font-weight: 400;
            font-size: 12px;
            color: #fff;
            position: absolute;
            top: 10%;
            margin-left: 110px;
            width: 150px;
            z-index: 2;
            @media screen and (min-width:1437px) {
                margin-left: 300px;
            }
        }
        .task-list__span-first{
            position: absolute;
            bottom: 140%;
            width: 200px;
            font-weight: 700;
            font-size: 15px;
            z-index: 2;
            color: getColor("color-span-first-tasks");
            @media screen and (min-width:1437px) {
                margin-left: 50px;
            }
        }
        .task-list__description--third{
            font-family: getFont("font-family");
            font-weight: 400;
            font-size: 8px;
            color: #000;
            width: 80px;
            height: auto;
            // height: 56px;
            position: absolute;
            text-align: right;
            z-index: 2;
            top: 0%;
            margin-left: 180px;
            
            @media screen and (min-width:1437px) {
                margin-left: 500px;
            }
        }
        .task-list__span-second{
            font-weight: 700;
            font-size: 12px;
            color: #000;
            position: absolute;
            top: 140%;
            left: -100%;
            width: 190px;
            z-index: 2;
        }
        .task-list__title{
            font-weight: 700;
            font-size: 182px;
            color: #1e0202;
            font-family: getFont("third-family");
            z-index: 7;
            position: relative;

            @media screen and (min-width:1437px) {
                margin-left: 50px;
            }
        }
        .task-list__title-first{
            color: getColor("color-for-first-task");
            font-family: "Trebuchet MS", sans-serif;

        }
        @media screen and (min-width:1437px) {
            .task-list__title-first::before{
                content:"";
                background-image: url(../images/loveTasks.png);
                background-repeat: no-repeat;
                width: 180px;
                height: 200px;
                position:absolute;
                z-index: 2;
                margin-left: 35vw;
                top: -50%;
                background-color: red;
                border-radius: 50%;
            }
        }
        .task-list__title-second{
            color: getColor("color-for-second-task");

            @media screen and (min-width:1437px) {
                margin-left: 150px;
            }
            }
            @media screen and (min-width:1437px) {
                .task-list__title-second::before{
                    content:"";
                    background-image: url(../images/commentTasks.png);
                    background-repeat: no-repeat;
                    width: 190px;
                    height: 200px;
                    position:absolute;
                    z-index: 2;
                    top: -30%;
                    background-color: #713232;
                    border-radius: 50%;
                    margin-left: 40vw;
                }

        }
        .task-list__title-third{
            color: getColor("color-for-third-task");

            @media screen and (min-width:1437px) {
                margin-left: 250px;
            }
        }
        @media screen and (min-width:1437px) {
            .task-list__title-third::before{
                content:"";
                background-image: url(../images/laptopTasks.png);
                background-repeat: no-repeat;
                width: 240px;
                height: 240px;
                position:absolute;
                z-index: 2;
                top: -30%;
                background-color: #F0C9C9;
                border-radius: 50%;
                margin-left: 50vw;
            }
        }
        
    }
    .task-list__description{
        font-family: getFont("font-family");
        font-weight: 700;
        font-size: 15px;
    }
    
}