.main-work{
  @media screen and (min-width:1437px) {
    background-image: url(../images/reviewBG-2.png);
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 85px;
    position: relative;
    z-index: -2;
   }
   
.work{
     padding-top: 70px;
     padding-bottom: 45px;
     background-image: url(../images/footerBG.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%; 
     background-position: center;
     

     @media screen and (min-width:1437px) {
      background-image: url(../images/BGwork.png);
      background-repeat: no-repeat;
      width: 980px;
      height: 370px;
      position: relative;
     }
     
     &::before{
      @media screen and (min-width:1437px) {
        position: absolute;
        content: "";
        background-image: url(../images/BGwork-2.png);
        background-repeat: no-repeat;
        width: calc(100% + 100%);
        height: calc(100% + 100%);
        top: 82%; 
        left: 90%; 
        transform: translate(-50%, -50%); 
        z-index: -1;
      }
    }

   .work__title{
     font-family: getFont("font-family");
     font-weight: 700;
     font-size: 35px;
     letter-spacing: 0.1em;
     color: getColor("color-for-title-work");
     text-transform: uppercase;
     margin-bottom: 50px;
     margin-left: 25px;
     position: relative;

     @media screen and (min-width:1437px) {
      font-size: 40px;
      width: 650px;
      font-family: getFont("second-family");
      margin-bottom: 10px;

     }
   }
   .work__title::before{
    content: "";
    width: 260px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 115%;

    @media screen and (min-width:1437px) {
      width: 558px;
      top: 100%;
    }
   }
   .work__description{
    font-family: getFont("font-family");
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: getColor("color-for-description-work");
    width: 260px;
    margin-left: 25px;

    @media screen and (min-width:1437px) {
    font-size: 15px;
    letter-spacing: 0.06em;
    width: 508px;
    }
   }
   .work__button{
    border-radius: 27px;
    padding: 17px 43px 17px 43px;
    white-space: nowrap;
    background-color:getColor("color-tasks-title");
    cursor: pointer;
    font-family: getFont("font-family");
    font-weight: 900;
    font-size: 19px;
    color: getColor("color-btn-work");
    margin-top: 200px;
    border: 0px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;

    @media screen and (min-width:1437px) {
      position: absolute;
      top:-10%;
      left: 65%;
      cursor: pointer;
    }
   }
   .work-list{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 23px;
    margin-bottom: -70px;

    @media screen and (min-width:1437px) {
      margin-left: -10px;
      margin-top: -10px;
    }
   }
   .work-list__item:not(:first-of-type){
    margin-left: -80px;
   }
}
}