.work{
     padding-top: 70px;
     padding-bottom: 45px;
     background-image: url(../images/footerBG.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%; 
     background-position: center;

   .work__title{
     font-family: getFont("font-family");
     font-weight: 700;
     font-size: 35px;
     letter-spacing: 0.1em;
     color: getColor("color-for-title-work");
     text-transform: uppercase;
     margin-bottom: 50px;
     margin-left: 25px;
     position: relative;
   }
   .work__title::before{
    content: "";
    width: 260px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 115%;
   }
   .work__description{
    font-family: getFont("font-family");
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: getColor("color-for-description-work");
    width: 260px;
    margin-left: 25px;
   }
   .work__button{
    border-radius: 27px;
    padding: 17px 43px 17px 43px;
    white-space: nowrap;
    background-color:getColor("color-tasks-title");
    cursor: pointer;
    font-family: getFont("font-family");
    font-weight: 900;
    font-size: 19px;
    color: getColor("color-btn-work");
    margin-top: 200px;
    border: 0px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
   }
   .work-list{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 23px;
    margin-bottom: -70px;
   }
   .work-list__item:not(:first-of-type){
    margin-left: -80px;
   }
}